*{
    box-sizing: border-box
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
h2, h3 {
  font-weight: normal;
}
.container{
  width: 80%;
}





/* header */
header{
  background: url(../img/bg.png) no-repeat center ;
  background-size: cover;
  position: relative;
  height: 100vh;
}
header > .container{
  width: 90%;
  height: 100vh;
  padding-top: 2%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;

}
.header-logo{
  grid-column-start: 1;
  grid-column-end: 2;
}
nav{
  grid-column-start: 2;
  grid-column-end: 3;
}
nav ul{
  text-align: end;
}
nav li {
  display: inline;
  padding-right: 6%;
  list-style:none;
}
nav a{
  text-decoration: none;
  color: #fff;
  font-size: 13pt;
  text-transform: uppercase;
  transition: 0.3 all ease;
}
nav a:hover{
  border-bottom: 2px solid #000;
}
.header-text{
  grid-row-start: 2;
  grid-row-end:3;
  padding-top: 30%;
  padding-left: 3%;
}
.header-text span{
  display: block;
  font-size: 40pt;
  color: #fff;
  text-transform: uppercase;
}
.header-text span:last-child{
  display: block;
  font-size: 15pt;
  color: #fff;
  text-transform: uppercase;
}
.header-text span:first-child::after{
  content: '/';
  color: #a2ca28;
}
.header-text span:last-child::after{
  content: '/';
  color: #fd634e;
}

/* features */
.features{
  background: #a2ca28;
  height: auto;
}
.features > .container{
  margin: 0 auto;
}
.features-section{
  padding-top: 8%;
  display: flex;
  justify-content: space-between;
}
.features-item{
  color: #fff;
  padding-right: 2%;
}
.features-item h2{
  font-size: 24pt;
}
.features-item p, span{
  font-size: 14pt;
}
.features-item::after{
  content: '→';
}
.features-item span {
  transition: 0.3s all ease;
}
.features-item span:hover{
  border-bottom: #000 2px solid;
  cursor: pointer;
}
.about{
  margin-top: 100px;
  height: auto;
}
.about-first > .first-row,
.second-row {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.row-text {
  background: #fff;
  padding: 0;
  text-align: center;
}
.first-row > .row-text{
  grid-column-start: 1;
  grid-column-end: 2;
}
.first-row > .row-img{
  grid-column-start: 2;
  grid-column-end: 4;
  background: url(../img/women.png) no-repeat center;
  background-size: cover;
  position: relative;
}
.row-img:hover{
  -webkit-box-shadow:inset -1px 0px 30px 0px rgba(50, 50, 50, 0.76);
  -moz-box-shadow: inset -1px 0px 30px 0px rgba(50, 50, 50, 0.76);
  box-shadow:inset -1px 0px 30px 0px rgba(50, 50, 50, 0.76);
  cursor: pointer;
}
.second-row > .row-text{
  grid-column-start: 3;
  grid-column-end: 4;
}
.second-row > .row-img{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background: url(../img/watch.png) no-repeat center bottom;
  background-size: cover;
  position: relative;
  transition: 0.4s all ease;
}
.row-text h3{
  color: #fd634e;
  font-size: 14pt;
  text-transform: uppercase;
}
.row-text h2{
  color: #a2ca28;
  font-size: 35pt;
  text-transform: uppercase;
}
.row-text p {
  font-size: 14pt;
}
.row-text a{
  color: #a9ce41;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease all;
}
.row-text a:hover{
  color: #fff;
  background: #a9ce41;
}
.row-img span{
  position: absolute;
  right: 8%;
  bottom: 13%;
  font-size: 12pt;
  color: #fff;
}
.row-img img {
  position: absolute;
  right: 3%;
  bottom: 13%;
  font-size: 12pt;
  color: #fff;
}

.services{
  background: #fd634e;
  height: auto;
  /* border: 3pt red solid; */
}
.services > .container{
  margin: 0 auto;
}
.service-cards{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
}
.service-cards img{
  width: 100%;
}
.service-card-trimmed{
  background: #fff;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.service-card-trimmed-another{
  background: #fff;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.service-card-trimmed-another h2{
  color: #a2ca28;
  font-size: 35pt;
  text-transform: uppercase;
}
.service-card-trimmed-another p {
  font-size: 14pt;
  color: #000;
}
  
.service-card-trimmed, 
.service-card-trimmed-another h3{
  color: #fd634e;
  font-size: 14pt;
  text-transform: uppercase;
}
.service-card-trimmed h2{
  color: #a2ca28;
  font-size: 35pt;
  text-transform: uppercase;
}
.service-card-trimmed p {
  font-size: 14pt;
  color: #000;
}
.service-card-extended{
  background: #a2ca28;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  position: relative;
  display: inline-block;
}
.service-card-extended span{
  position: absolute;
  left: 5%;
  top: 9.5%;
  font-size: 14pt;
}
.service-card-extended h5{
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 14pt;
}
  
.service-card-extended-another{
  background: #a2ca28;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.service-card-extended,
.service-card-extended-another h2{
  color: #fff;
  font-size: 40pt;
  text-transform: uppercase;
}
.service-card-extended,
.service-card-extended-another  p{
  color: #fff;
  font-size: 13pt;
  font-weight: normal;
}
.service-card-extended-another h4 {
  color: #fff;
  font-size: 35pt;
  font-weight: normal;
  text-transform: uppercase;
}
.service-card-extended-another h5{
  color: #fff;
  font-size: 17pt;
  text-transform: uppercase;
  font-weight: 500;
}
.service-cards img:hover{
  -webkit-box-shadow: -1px 0px 30px 0px rgba(50, 50, 50, 0.76);
  -moz-box-shadow:  -1px 0px 30px 0px rgba(50, 50, 50, 0.76);
  box-shadow:  -1px 0px 30px 0px rgba(50, 50, 50, 0.76);
  cursor: pointer;
}
.service-cards img {
  transition: 0.4s ease all;
}


/* footer */
.footer{
  height: 100vh;
}
.footer > .container{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.footer-banner {
  background: url(../img/footer-bg.png) no-repeat center bottom;
  position: relative;
  background-size: cover;
  height: 80%;
  text-align: center;
}
.footer-banner h2{
  font-size: 45pt;
  font-weight: 400;
  color: #fff;
  padding-top: 10%;
}
.footer-banner p {
  font-size: 16pt;
  color: #fff;
}
.contacts{
  display: grid;
  justify-items: center;
  grid-column-gap: 5%;
  grid-template-columns: 33% 33% 33%;
  background: #0d1119;
  height: 20%;
}
.contacts-section:first-child {
  grid-column-start: 1;
  grid-column-end: 2;
  padding-left: 5%;
}
.contacts-section:nth-child(2){
  grid-column-start: 2;
  grid-column-end: 3;
  padding-left: 5%;
}
.contacts-section h2{
  color: #fff;
  font-size: 15pt;
}
.contacts-section p{
  color: #8297a7;
  font-size: 14pt;
}
.social-links{
  grid-column-start: 3;
  grid-column-end: 4;
}
.social-links h2{
  color: #fff;
}